<%= form_with model: game, local: true do |f| %>
  <div class="row">
   <div class="col-6">
     <div class="form-group">
       <%= f.label :"ゲーム名:" %>
       <%= f.text_field :name, autofocuse: true, class: "form-control" %>
     </div>
     <div class="form-group">
       <%= f.label :"プレイ人数:" %>
       <%= f.text_field :player, class: "form-control" %>
     </div>
     <div class="form-group">
       <%= f.label :"タグ:" %>
       <%= f.text_field :tag_name, class: "form-control" %>
     </div>
     <div class="form-group">
       <%= f.label :"概要:" %>
       <%= f.text_area :overview, class: "form-control" %>
     </div>
     <div class="form-group">
       <%= f.label :"操作説明:" %>
       <%= f.text_area :how_to_use, class: "form-control" %>
     </div>
   </div>
   <div class="col-4 mx-3 px-5">
     <% if game.id === nil %>
       <a>ゲーム性 :</a>
       <div class="ster_form-group" id="star1">
         <%= f.hidden_field :game_quality, id: :review_star %>
       </div>
       <script>
         $(document).on('turbolinks:load', function() {
           $('#star1').empty();
           $('#star1').raty({
             size     : 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             scoreName: 'game[game_quality]',
             half: false,
           });
         });
       </script>
       <a>戦略性 :</a>
       <div class="ster_form-group" id="star2">
         <%= f.hidden_field :strategic, id: :review_star %>
       </div>
       <script>
         $(document).on('turbolinks:load', function() {
           $('#star2').empty();
           $('#star2').raty({
             size     : 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             scoreName: 'game[strategic]',
             half: false,
           });
         });
       </script>
       <a>協力性 :</a>
       <div class="ster_form-group" id="star3">
         <%= f.hidden_field :cooperation, id: :review_star %>
       </div>
       <script>
         $(document).on('turbolinks:load', function() {
           $('#star3').empty();
           $('#star3').raty({
             size     : 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             scoreName: 'game[cooperation]',
             half: false,
           });
         });
       </script>
       <a>盛り上がり度 :</a>
       <div class="ster_form-group" id="star4">
         <%= f.hidden_field :excitement, id: :review_star %>
       </div>
       <script>
         $(document).on('turbolinks:load', function() {
           $('#star4').empty();
           $('#star4').raty({
             size     : 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             scoreName: 'game[excitement]',
             half: false,
           });
         });
       </script>
       <a>運 :</a>
       <div class="ster_form-group" id="star5">
         <%= f.hidden_field :luck, id: :review_star %>
       </div>
       <script>
         $(document).on('turbolinks:load', function() {
           $('#star5').empty();
           $('#star5').raty({
             size     : 36,
             starOff:  '<%= asset_path('star-off.png') %>',
             starOn : '<%= asset_path('star-on.png') %>',
             scoreName: 'game[luck]',
             half: false,
           });
         });
       </script>
       <div class="form-group mt-3">
         <%= f.label :"画像:" %>
         <%= f.file_field :image,  accept: "image/*" %>
       </div>
       <div class="form-group">
         <%= f.submit "投稿する", class: "btn btn-primary form-control" %>
       </div>
     <% else %>
       <%= render "raty", f: f, game: game %>
     <% end %>
   </div>
 </div>
<% end %>