<div class="container">
  <div class="card my-5">
    <div class="row no-gutters">
      <div class="col-6">
        <%= image_tag "/assets/テレビゲーム.jpeg", size: "500x300" %>
      </div>
      <h5 class="col-6 d-flex align-items-center">
        近年、遊びがどんどんデジタル化しています。<br>
        それにより、家から出ることもなく遊ぶことが可能となりました。
      </h5>
    </div>
  </div>
  <div class="card my-5">
    <div class="row no-gutters">
      <h5 class="col-6 d-flex align-items-center">
        しかし、その結果、友人と顔を突き合わせて、遊ぶことが減ったのではないでしょうか。<br>

        アナログゲームは友人と集まる必要はありますが、お互いの顔を見て、喜びを分かち合うなど、<br>
        デジタルでは味わうことのできない楽しさがあります。

      </h5>
      <div class="col-6">
        <%= image_tag "/assets/toramp.jpeg", size: "500x300" %>
      </div>
    </div>
  </div>
  <div class="card my-5">
    <div class="row no-gutters">
      <div class="col-6">
        <%= image_tag "/assets/game_illust.jpeg", size: "500x300" %>
      </div>
      <div class="card-body col-6  d-flex align-items-center flex-wrap justify-content-center">
        <h5>
          このサイトではそんなアナログゲームを紹介しております。<br>
          あなたも興味のあるアナログゲームを見つけ、遊んでみてはいかがでしょうか。
        </h5>
        <div class="link justify-content-center">
            <%= link_to "新規登録はこちらから", new_user_registration_path, class: "btn btn-success mb-3" %><br>
            <%= link_to "ログインはこちらから", new_user_session_path, class: "btn btn-primary mb-3" %>
        </div>
      </div>

    </div>
  </div>
</div>
