<div class="container">
  <h2>"<%= @word %>"の検索結果</h2>

  <% if @model == "user" %>
    <% if @users.empty? %>
      <h3>見つかりませんでした。</h3>
    <% else %>
      <%= render "admin/users/index", users: @users %>
    <% end %>
  <% else %>
    <div class="card px-3 pb-2">
      <div class="card-head">
        <p style="font-size: 20px;"><<絞り込み>></p>
      </div>
      <div class="body">
        <div class="sort d-flex">
         <p>並び替え：</p>
         <%= link_to "投稿が新しい順", admin_search_path(word: @word, model: @model, new_date: true), class: "mr-2" %>  | <%= link_to "いいねの多い順", admin_search_path(word: @word, model: @model, favorite: true), class: "ml-2" %>
        </div>
        <div class="tags d-flex flex-wrap">
         <P class="mr-2">タグ検索:</P>
         <% unless @tags.nil? %>
           <% @tags.each do |tag| %>
             <%= link_to tag, admin_filter_path(tag: tag, games: @games, model: @model, word: @word), class: "btn btn-outline-dark mr-2" %>
           <% end %>
         <% end %>
        </div>
      </div>
    </div>

  <div class="index-kv row d-flex justify-content-center mt-3 overflow-auto">
      <% if @games.empty? %>
        <h3>見つかりませんでした。</h3>
      <% else %>
        <%= render "admin/games/index", games: @games %>
      <% end %>
  <% end %>
  </div>
</div>