<div class="container my-3">
  <% if @user.is_delete == true %>
    <div class="delete d-flex justify-content-center">
      <h3>このユーザーは退会しております。</h3>
    </div>
  <% else %>
    <h1 class="mb-3"><%= @user.name %>さんのページ</h1>
    <div class="user_date d-flex align-items-center flex-wrap justify-content-center">
     <div class="card my-5 p-2" style="background:url(/assets/bg_image.jpeg); background-size: cover; width: 80%;">
      <div class="row no-gutter">
        <div class="col-5 d-flex align-items-center justify-content-center">
          <%= image_tag @user.get_profile_image, size: "300x300" %>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item" style="font-size: 18px;">ニックネーム： <%= @user.name %></li>
            <li class="list-group-item" style="font-size: 18px;">コメント： <%= @user.comment %></li>
            <li class="list-group-item" style="font-size: 18px;">投稿数：<%= @user.games.count %></li>
            <li class="list-group-item" style="font-size: 18px;">いいね： <%= @user.favorites.count %></li>
            <li class="list-group-item" style="font-size: 18px;">フォロー数： <%= link_to @user.followings.count, user_followings_path(@user.id) %></li>
            <li class="list-group-item" style="font-size: 18px;">フォロワー数： <%= link_to @user.followers.count, user_followers_path(@user.id) %></li>
          </ul>
          <div class="d-flex justify-content-center mt-1">
          <% if user_signed_in? %>
            <% if @user.id == current_user.id %>
              <%= link_to "プロフィールの編集", edit_user_path(@user), class:"btn btn-success" %>
            <% else %>
              <%= render "public/relationships/follow_btn", user: @user, class: "ml-3" %>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
     </div>
    </div>

     <h2 class="mt-3">=投稿一覧=</h2>
     <div class="games row d-flex flex-wrap justify-content-center overflow-auto" style="max-height: 550px; background:url(/assets/bg_image.jpeg); background-size: cover;">
       <% if @user.games.empty? %>
         <h3 class="py-3">投稿はありません</h3>
       <% else %>
         <%= render "public/games/game_index", games: @user.games %>
       <% end %>
     </div>
  <% end %>
</div>
