<!DOCTYPE html>
<html>
  <head>
    <title>AnalogClub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.js"></script>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render "layouts/after_sign_in_header" %>
      <% elsif admin_signed_in? %>
        <%= render "layouts/admin_header" %>
      <% else%>
        <%= render "layouts/defoult_header" %>
      <% end %>
    </header>
    <main class="mb-3">
      <%= yield %>
    </main>
  </body>
</html>
